body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Tahoma", Geneva, sans-serif;
  text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.header {
  overflow: hidden;
  text-align: right
}

.header h1 {
  padding: 12px;
  font-size: 80px;
  line-height: 25px;
  border-radius: 4px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}
