html, body {
  height: 100%;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: "Tahoma", Geneva, sans-serif;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

button {
  height: 50px;
  width: 80px;
  font-size: 15px;
}

.on {
  background-color: green;
}

.off {
  background-color: red;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.header {
  overflow: hidden;
  text-align: right;
}

.header h1 {
  padding: 12px;
  font-size: 80px;
  line-height: 25px;
  border-radius: 4px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
  vertical-align: middle;
}

.row {
  content: "";
  /* display: table;
  clear: both; */
  height: 100%;
}
